.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

.central__content {
  display: flex;
  min-height: 625px;
}
