@import "fonts.scss";

.header {
  height: 100px;
}

.header__back {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
}

.header__back:hover {
  cursor: pointer;
}

.header__timer {
  @include bold-text;
  font-size: 60px;
  position: absolute;
  margin-top: 0;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.header__lives {
  position: absolute;
  top: 20px;
  right: 0;
}
