@import "colors.scss";
@import "fonts.scss";

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, rgba(255,0,247,1) 0%, rgba(255,0,247,1) 17%, rgba(119,0,255,1) 49%, rgba(31,255,184,1) 100%);
  @include regular-text;
  color: $main-font-color;
  min-height: 100%;
}

a {
  color: $main-font-color;
}
