@import "colors.scss";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 800px;
  height: 625px;
  background: url("../img/egg_big.png") no-repeat center;
  background-size: contain;
  transition: opacity 1.5s linear;
}

.intro.hide {
  opacity: 0;
}

.intro__motto {
  align-self: center;
  font-size: 18px;
  line-height: 1.3;
  background-color: rgba(130, 236, 235, 0.4);
}
