.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

.central__content {
  display: flex;
  min-height: 625px;
}

.transition-container {
  width: 960px;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.cross-fade-height {
  transition: height 0.5s ease-in-out;
}

/* Fade with width transition */

.fade-fast-leave {
  opacity: 1;
}
.fade-fast-leave.fade-fast-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-fast-enter {
  opacity: 0;
}
.fade-fast-enter.fade-fast-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-fast-height {
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}
