@mixin small-text() {
  font: {
    family: 'Roboto', sans-serif;
    size: 16px;
    weight: normal;
  }
  line-height: 12px;
}

@mixin regular-text() {
  font: {
    family: 'Roboto', sans-serif;
    size: 24px;
    weight: 500;
  }
  line-height: 1.5;
}

@mixin bold-text() {
  font: {
    family: 'Roboto', sans-serif;
    size: 42px;
    weight: bold;
  }
  line-height: 1;
}
